@import "./sass/components/table";
@import "./sass/helpers/colors";
@import "./sass/components/buttons";
@import "./sass/components/deleteModal";

body {
  box-sizing: border-box;
  height: 5000px;
  font-family: "Tajawal", "Times New Roman", Times, serif;
  background-color: #f7f6f4;

  .hide_column {
    display: none;
  }

  .students-menu-show {
    position: fixed;
    left: 697px;
    top: 120px;
    display: none;
    background: #ffffff;
    /* sec */

    box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  aside {
    position: fixed !important;
    width: 200px;
    height: 200px;
    margin-right: 1.8rem;
    margin-top: 0.8rem;
    display: inline-block;
    height: 1045px;
    background: #ffffff;
    /* main shadow */

    box-shadow: $main-shadow;
    border-radius: 10px;

    .logo {
      color: $main-typo;
      font-weight: bold;
      text-align: center;
      margin-bottom: 1rem;
      font-size: 2rem;
      line-height: 2;
    }

    .main-pages {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 0.5rem;
          color: #65676d;
        }

        li.active {
          background: $main-background;
          color: $main-color;
        }
      }
    }
  }

  header {
    position: fixed !important;
    top: 0.8rem;
    left: 3rem;
    height: 3rem;
    background: #ffffff;
    /* main shadow */
    box-shadow: $main-shadow;
    border-radius: 10px;
    z-index: 5;

    .header-search {
      input {
        background: #f8f8f8;
        border-radius: 5px;
        border: none;
        position: absolute;
        top: 0.5rem;
        height: 2rem;
        width: 17rem;
      }

      input:focus {
        outline: $main-color;
        border: 1px solid $main-color;
      }

      input::placeholder {
        position: absolute;
        color: $main-typo;
        opacity: 1;
        padding-right: 2rem;
      }

      .fa-search {
        color: $main-typo;
        transform: rotate(90deg);
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        z-index: 2;
      }
    }

    .admin-photo {
      position: absolute;
      width: 2rem;
      height: 2rem;
      left: 4rem;
      top: 0.5rem;
      border-radius: 50%;
      background: url(../images/41688312_2237125146316321_1931414181324521472_o.jpg);
      background-size: cover;
      /* main */
      z-index: 5;
      border: 1px solid $main-color;
    }

    .admin-login-settings {
      position: absolute;
      left: 2rem;
      top: 0.5rem;

      .fa-ellipsis-v {
        color: $main-typo;
        margin-top: 0.3rem;
        font-size: 1.3rem;
      }
    }
  }

  section {
    .buttons {
      position: absolute;
      top: 5rem;
      left: 2rem;

      button:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 1rem;
        position: absolute;
        border-radius: 5px;
        right: 0rem;
        top: 0rem;
        background-color: #fd7b38;
        color: #fff;
        border: none;
        font-size: 15px;
      }

      button:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 1rem;
        position: absolute;
        border-radius: 5px;
        right: 10rem;
        top: 0rem;
        background-color: #fd7b38;
        color: #fff;
        border: none;
        font-size: 15px;
      }

      button:nth-child(3) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 1rem;
        position: absolute;
        border-radius: 5px;
        left: 1rem;
        top: 0rem;
        background-color: #fd7b38;
        color: #fff;
        border: none;
        font-size: 15px;
      }
    }
  }

  article {
    .layers {
      position: absolute;
      width: 100%;
      left: -20.5rem;
      top: 9rem;

      .now-lesson {
        background-color: #fff;
        height: 18rem;
        box-shadow: $main-shadow;
        border-radius: 10px;
        position: relative;

        .svg-content {
          text-align: center;
        }

        h4 {
          padding: 1rem;
        }

        .group-element-now {
          position: absolute;
          background-color: $main-background;
          border-radius: 5px;
          right: 2rem;
          top: 5rem;
          padding: 0.5rem 1.5rem;
        }

        .students-menu {
          position: absolute;
          right: 15rem;
          top: 10rem;
        }

        .attendance-menu {
          position: absolute;
          right: 25rem;
          top: 10rem;
        }

        .make-exam {
          position: absolute;
          right: 40rem;
          top: 5rem;
          font-size: 1.3rem;

          .fa-sticky-note {
            font-size: 7rem;
            color: $main-color;
          }
        }

        .make-vote {
          position: absolute;
          right: 50rem;
          top: 5rem;
          font-size: 1.3rem;

          .fa-poll {
            font-size: 7rem;
            color: $main-color;
          }
        }

        .share-file {
          position: absolute;
          right: 60rem;
          top: 5rem;
          font-size: 1.3rem;

          .fa-file-medical {
            font-size: 7rem;
            color: $main-color;
          }
        }
      }

      .today-lessons {
        background-color: #fff;
        height: 18rem;
        box-shadow: $main-shadow;
        border-radius: 10px;
        position: relative;
        margin-top: 1rem;

        h4 {
          padding: 1rem;
        }

        .group-element-now {
          position: absolute;
          background-color: $main-background;
          border-radius: 5px;
          right: 2rem;
          top: 5rem;
          padding: 0.5rem 1.5rem;
        }

        .group-element {
          position: absolute;
          background-color: #f8f8f8;
          border-radius: 5px;
          right: 15rem;
          top: 5rem;
          padding: 0.5rem 1.5rem;
          cursor: pointer;
        }

        div:nth-child(3) {
          right: 28rem;
        }

        div:nth-child(4) {
          right: 41rem;
        }

        div:nth-child(5) {
          right: 54rem;
        }
      }

      .late-pays {
        background-color: #fff;
        box-shadow: $main-shadow;
        border-radius: 10px;
        position: relative;
        margin-top: 1rem;

        h4 {
          padding: 1rem;
        }
      }
    }
  }
}
