button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  left: 1rem;
  top: 0rem;
  background-color: #fd7b38;
  color: #fff;
  border: none;
  font-size: 15px;
}

.ok-button {
  background-color: #27AE60;
}

.refuse-button {
  background-color: #EB5757;
}

.show-button {
  background-color: #2F80ED;
}

.delete-modal .modal-header h5 {
  color: #EB5757;
}
.delete-modal .modal-body p {
  font-size: 14px;
}
.delete-modal .modal-footer .confirm-delete {
  background-color: #EB5757;
}

input {
  background-color: #f8f8f8 !important;
  border: none !important;
  color: #242424;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none !important;
  background: url("../../../images/selectarrow.svg") #fd7b38 no-repeat 0 !important;
  /* Better placement regardless of input width */
  background-color: #f8f8f8 !important;
  color: #242424;
}

label {
  color: #fd7b38 !important;
  font-weight: bold !important;
}

aside {
  position: fixed !important;
  width: 200px;
  height: 200px;
  margin-right: 1.8rem;
  margin-top: 0.8rem;
  display: inline-block;
  height: 1045px;
  background: #ffffff;
  /* main shadow */
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
aside .logo {
  color: #242424;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 2;
}
aside .main-pages ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
aside .main-pages ul li {
  padding: 0.5rem;
  color: #65676d;
}
aside .main-pages ul li.active {
  background: rgba(253, 123, 56, 0.2);
  color: #fd7b38;
}

header {
  position: fixed !important;
  top: 0.8rem;
  left: 3rem;
  height: 3rem;
  background: #ffffff;
  /* main shadow */
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 5;
}
header .header-search input {
  background: #f8f8f8;
  border-radius: 5px;
  border: none;
  position: absolute;
  top: 0.5rem;
  height: 2rem;
  width: 17rem;
}
header .header-search input:focus {
  outline: #fd7b38;
  border: 1px solid #fd7b38;
}
header .header-search input::placeholder {
  position: absolute;
  color: #242424;
  opacity: 1;
  padding-right: 2rem;
}
header .header-search .fa-search {
  color: #242424;
  transform: rotate(90deg);
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  z-index: 2;
}
header .admin-photo {
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 4rem;
  top: 0.5rem;
  border-radius: 50%;
  background: url(../images/41688312_2237125146316321_1931414181324521472_o.jpg);
  background-size: cover;
  /* main */
  z-index: 5;
  border: 1px solid #fd7b38;
}
header .admin-login-settings {
  position: absolute;
  left: 2rem;
  top: 0.5rem;
}
header .admin-login-settings .fa-ellipsis-v {
  color: #242424;
  margin-top: 0.3rem;
  font-size: 1.3rem;
}

section .buttons {
  position: absolute;
  top: 5rem;
  left: 2rem;
}
section .buttons button:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  position: absolute;
  border-radius: 5px;
  right: 0rem;
  top: 0rem;
  background-color: #fd7b38;
  color: #fff;
  border: none;
  font-size: 15px;
}
section .buttons button:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  position: absolute;
  border-radius: 5px;
  right: 10rem;
  top: 0rem;
  background-color: #fd7b38;
  color: #fff;
  border: none;
  font-size: 15px;
}
section .buttons button:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  position: absolute;
  border-radius: 5px;
  left: 1rem;
  top: 0rem;
  background-color: #fd7b38;
  color: #fff;
  border: none;
  font-size: 15px;
}

.layers {
  position: absolute;
  width: 100%;
  left: -29%;
  top: 9rem;
}

body {
  font-family: "Tajawal", "Times New Roman", Times, serif;
  background-color: #f7f6f4;
}
body article .add-question {
  background-color: #fff;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
body article .add-question .add-question-header h4 {
  padding: 1rem;
  float: right;
}
body article .add-question .add-question-header button {
  float: left;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}
body article .add-question h6 {
  margin-right: 1rem;
}
body article .add-question .add-question-body {
  margin-top: 3rem;
  margin-right: 20%;
  padding-bottom: 5rem;
}
body article .add-question .add-question-body .question-container .mcq-question {
  margin-top: 0.5rem;
}
body article .add-question .add-question-body .question-container .true-false-question {
  width: 35rem;
}
body article .add-question .add-question-body .question-container .true-false-question .answer-element {
  border: 1px solid #242424;
  margin: 1rem 0;
  text-align: center;
  background-color: #f7f6f4;
  cursor: pointer;
}
body article .add-question .add-question-body .question-container .true-false-question .answer-element input[type=radio] {
  display: none;
}
body article .add-question .add-question-body .question-container .true-false-question .answer-element label {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem;
  cursor: pointer;
}
body article .add-question .add-question-body .question-container .true-false-question .selected-answer {
  background-color: rgba(253, 123, 56, 0.2);
  border: 1px solid #fd7b38;
}
body article .add-question .add-question-body .question-container .images-question .input-file {
  display: inline-block;
}
body article .add-question .add-question-body .question-container .images-question img {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 7rem;
  height: 7rem;
}
body article .add-question .add-question-body .question-container .images-question .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
body article .add-question .add-question-body .question-container .images-question .inputfile + label {
  font-size: 1.25em;
  color: white;
  width: 7rem;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #3978b8;
  display: inline-block;
  font-weight: lighter;
}
body article .add-question .add-question-body .question-container .images-question .inputfile:focus + label,
body article .add-question .add-question-body .question-container .images-question .inputfile + label:hover {
  background-color: #FFF;
  color: #000;
}
body article .add-question .add-question-body .question-container .images-question .inputfile + label {
  cursor: pointer;
  /* "hand" cursor */
}

input {
  width: 35rem;
  margin-left: 1rem;
  padding: 0.5rem 0;
  margin-top: 0.2rem;
}

select {
  padding: 0.2rem;
  width: 10rem;
}

/*# sourceMappingURL=Questions.css.map */
