@import "./sass/components/table";
@import "./sass/helpers/colors";
@import "./sass/components/buttons";
@import "./sass/components/deleteModal";
@import './sass/components/input';
@import './sass/components/aside';
@import './sass/components/header';
@import './sass/components/sectionButtons';
@import './sass/helpers/font';
@import './sass/components/layers';
@import './sass/components/body';

.collapse{
  margin-right: 2rem;
}

.table-container {
  .form-group {
    display: inline-block;
    margin:0 0 3rem 10rem;
  }
  select {
    width: 15rem;
  }
}