button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
        left: 1rem;
        top: 0rem;
        background-color: #fd7b38;
        color: #fff;
        border: none;
        font-size: 15px;
}
.ok-button {
  background-color: #27AE60;
}
